<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <script defer
    data-project-id="ENV['CI_PROJECT_ID']"
    data-project-path="ENV['CI_PROJECT_PATH']"
     data-mr-url='https://gitlab.com'
     id='review-app-toolbar-script'
     src='https://gitlab.com/assets/webpack/visual_review_toolbar.js'>
    </script>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>
